force-app/main/default/flows/CL_Contract_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Borrower_ACH_Approval_Email</name>
        <label>Borrower ACH Approval Email</label>
        <locationX>524</locationX>
        <locationY>623</locationY>
        <actionName>BorrowerACHApprovalEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_APS_One_Time</name>
        <label>Create APS One Time</label>
        <locationX>1107</locationX>
        <locationY>993</locationY>
        <actionName>OneTimeAPSCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_OneTime_APS_PI</targetReference>
        </connector>
        <inputParameters>
            <name>apsIdList</name>
            <value>
                <elementReference>APSIdList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_OneTime_APS_PI</name>
        <label>Create OneTime APS PI</label>
        <locationX>1107</locationX>
        <locationY>1131</locationY>
        <actionName>OneTimeAPSCreation</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>apsIdList</name>
            <value>
                <elementReference>APSPIRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</name>
        <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        <locationX>2284</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.loan__Pmt_Amt_Cur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</name>
        <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        <locationX>2020</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmountBy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</name>
        <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        <locationX>1756</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmtBy4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_APS_id_Record</name>
        <label>Get APS id Record</label>
        <locationX>1330</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>APSPIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_APS_One_Time_Creation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSIdPIList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSPIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_APS_One_Time_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>APS_Outcome_Validation</name>
        <label>APS Outcome Validation</label>
        <locationX>2152</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_ic_changed_to_weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_bi_weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_Monthly</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Frequency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBorrowerACHChangedOrNot</name>
        <label>checkBorrowerACHChangedOrNot</label>
        <locationX>1088</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chenged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Borrower_ACH_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower_ACH_Change__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.loan__Borrower_ACH__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Borrower_ACH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecordType</targetReference>
            </connector>
            <label>Chenged</label>
        </rules>
        <rules>
            <name>Flat_Amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flat_Repayment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Repayment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flat_Repayment_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_when_Flat_Amount_is_not_null</targetReference>
            </connector>
            <label>Flat Amount is not null</label>
        </rules>
        <rules>
            <name>Flat_Amount_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flat_Repayment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flat_Repayment_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_APS_Records</targetReference>
            </connector>
            <label>Flat Amount null</label>
        </rules>
    </decisions>
    <formulas>
        <name>APSIdList</name>
        <dataType>String</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TransactionAmountBy2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__Pmt_Amt_Cur__c} / 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransactionAmtBy4</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__Pmt_Amt_Cur__c} / 4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CL Contract Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL Contract Updation</label>
    <loops>
        <name>Iterating_APS_One_Time_Creation</name>
        <label>Iterating APS One Time Creation</label>
        <locationX>1105</locationX>
        <locationY>797</locationY>
        <collectionReference>Get_Record_when_Flat_Amount_is_not_null</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_APS_id_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_APS_One_Time</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_through_APS</name>
        <label>Iterating through APS</label>
        <locationX>1670</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_APS_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>APS_Outcome_Validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_APS_Records</name>
        <label>Get APS Records</label>
        <locationX>1668</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
        <filters>
            <field>loan__CL_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Weekly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bi-weekly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Frequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Amount_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
            </value>
        </filters>
        <object>loan__Automated_Payment_Setup__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_when_Flat_Amount_is_not_null</name>
        <label>Get Record when Flat Amount is not null</label>
        <locationX>1105</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_APS_One_Time_Creation</targetReference>
        </connector>
        <filters>
            <field>loan__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>loan__CL_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>loan__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ONE TIME</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_after_reschedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>loan__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RECURRING</stringValue>
            </value>
        </filters>
        <object>loan__Automated_Payment_Setup__c</object>
    </recordLookups>
    <recordUpdates>
        <name>update_last_record</name>
        <label>update last record</label>
        <locationX>1668</locationX>
        <locationY>1295</locationY>
        <inputReference>APSRecordUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecordType</name>
        <label>updateRecordType</label>
        <locationX>524</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Borrower_ACH_Approval_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129p000000AoJk</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Transaction_Amount</name>
        <label>Updating Transaction Amount</label>
        <locationX>1668</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>update_last_record</targetReference>
        </connector>
        <inputReference>APSUpdateList</inputReference>
    </recordUpdates>
    <startElementReference>checkBorrowerACHChangedOrNot</startElementReference>
    <status>Active</status>
    <variables>
        <name>APSIdPIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>APSPIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>APSRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>APSUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>TestVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TransactionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
