force-app/main/default/flows/CL_Contract_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</name>
        <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        <locationX>609</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.loan__Pmt_Amt_Cur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</name>
        <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        <locationX>541</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmountBy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</name>
        <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        <locationX>763</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmtBy4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSRecordUpdate.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_through_APS.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_through_APS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APSRecordUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APSUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APSRecordUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>APS_Outcome_Validation</name>
        <label>APS Outcome Validation</label>
        <locationX>408</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_ic_changed_to_weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_bi_weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_Monthly</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_through_APS.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Frequency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        </rules>
    </decisions>
    <formulas>
        <name>TransactionAmountBy2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__Pmt_Amt_Cur__c} / 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransactionAmtBy4</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__Pmt_Amt_Cur__c} / 4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CL Contract Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL Contract Updation</label>
    <loops>
        <name>Iterating_through_APS</name>
        <label>Iterating through APS</label>
        <locationX>178</locationX>
        <locationY>472</locationY>
        <collectionReference>Get_APS_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>APS_Outcome_Validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_APS_Records</name>
        <label>Get APS Records</label>
        <locationX>179</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_through_APS</targetReference>
        </connector>
        <filters>
            <field>loan__CL_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Weekly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bi-weekly</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Frequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>loan__Amount_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>loan__Automated_Payment_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_last_record</name>
        <label>update last record</label>
        <locationX>180</locationX>
        <locationY>851</locationY>
        <inputReference>APSRecordUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Transaction_Amount</name>
        <label>Updating Transaction Amount</label>
        <locationX>180</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>update_last_record</targetReference>
        </connector>
        <inputReference>APSUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_APS_Records</targetReference>
        </connector>
        <object>loan__Loan_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>APSRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>APSUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>TestVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TransactionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
