force-app/main/default/flows/Collateral_Valuer_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Party_Not_Exist</name>
        <label>Party Not Exist</label>
        <locationX>1092</locationX>
        <locationY>683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_party_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Party_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Valuer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Party_Type</targetReference>
            </connector>
            <label>If party not exist</label>
        </rules>
    </decisions>
    <interviewLabel>Collateral Valuer Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collateral Valuer Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_party_Record</name>
        <label>Create party Record</label>
        <locationX>1107</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>clcommon__Account__c</field>
            <value>
                <elementReference>$Record.Valuer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clcommon__Type__c</field>
            <value>
                <elementReference>Get_Party_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>genesis__Application__c</field>
            <value>
                <elementReference>Get_Application_Collateral_Record.genesis__Application__c</elementReference>
            </value>
        </inputAssignments>
        <object>clcommon__Party__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Collateral_Record</name>
        <label>Get Application Collateral Record</label>
        <locationX>1099</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Party_Record</targetReference>
        </connector>
        <filters>
            <field>genesis__Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>genesis__Application_Collateral__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Record</name>
        <label>Get Party Record</label>
        <locationX>1101</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Party_Not_Exist</targetReference>
        </connector>
        <filters>
            <field>genesis__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Collateral_Record.genesis__Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>clcommon__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Valuer__c</elementReference>
            </value>
        </filters>
        <object>clcommon__Party__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Type</name>
        <label>Get Party Type</label>
        <locationX>1104</locationX>
        <locationY>831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_party_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valuer</stringValue>
            </value>
        </filters>
        <object>clcommon__Party_Type__c</object>
    </recordLookups>
    <startElementReference>Get_Application_Collateral_Record</startElementReference>
    <status>Obsolete</status>
</Flow>
