force-app/main/default/flows/ORDE_Online_Create_Portal_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Contact_Fields</name>
        <label>Assign Contact Fields</label>
        <locationX>1349</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Portal_Username.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Portal_Secret_Question_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secret_Question_Answer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Secret_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secret_Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Portal_Answer_Secret_Next_Login__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Security_Question_Failure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Is_Taken</name>
        <label>Flag Username Taken</label>
        <locationX>1478</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>isUsernameTaken</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Username_Taken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Is_Taken_0</name>
        <label>Flag Contact Already Created</label>
        <locationX>1518</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>isContactAlreadyPortalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Username_Taken_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Username_Taken</name>
        <label>Check if Username Taken</label>
        <locationX>1667</locationX>
        <locationY>1437</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Username is Available</defaultConnectorLabel>
        <rules>
            <name>Username_is_Taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUsernameTaken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Username_already_Taken</targetReference>
            </connector>
            <label>Username is Taken</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Username_Taken_0</name>
        <label>Check if Contact is already a portal user</label>
        <locationX>1665</locationX>
        <locationY>907</locationY>
        <defaultConnector>
            <targetReference>Check_No_Portal_User_with_Contact_Email_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact not Set Up As Portal User</defaultConnectorLabel>
        <rules>
            <name>Username_is_Taken_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContactAlreadyPortalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Provisioned_Screen</targetReference>
            </connector>
            <label>Contact already set up as User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Owner_Have_Role</name>
        <label>Does Owner Have Role</label>
        <locationX>1854</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Not_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Role Specified</defaultConnectorLabel>
        <rules>
            <name>No_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Owner_Has_Role.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Role_For_Owner</targetReference>
            </connector>
            <label>No Role Specified</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>portalSecretQuestions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Secret_Question__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>portalUserNickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.Email} + &apos; &apos; + TEXT(DATETIMEVALUE(NOW())), 40)</expression>
    </formulas>
    <formulas>
        <name>userAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.FirstName}, 5) &amp; LEFT({!Get_Contact.LastName}, 1)</expression>
    </formulas>
    <interviewLabel>ORDE Online - Create Portal User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORDE Online - Create Portal User</label>
    <loops>
        <name>Check_User_List_contains_value</name>
        <label>Check User List contains value</label>
        <locationX>1675</locationX>
        <locationY>1224</locationY>
        <collectionReference>Check_No_Portal_User_with_Contact_Email_Exists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Is_Taken</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Username_Taken</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_User_List_contains_value_0</name>
        <label>Check User List contains value</label>
        <locationX>1672</locationX>
        <locationY>715</locationY>
        <collectionReference>Check_Contact_Not_Portal_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Is_Taken_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Username_Taken_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Portal_User_Record</name>
        <label>Create Portal User</label>
        <locationX>1350</locationX>
        <locationY>2084</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>userAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>portalUserNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_AU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Portal_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Australia/Sydney</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Contact_Not_Portal_User</name>
        <label>Check Contact is not already a Portal User</label>
        <locationX>1673</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_List_contains_value_0</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Check_No_Portal_User_with_Contact_Email_Exists</name>
        <label>Check No Portal User with Contact Email Exists</label>
        <locationX>1674</locationX>
        <locationY>1093</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_List_contains_value</targetReference>
        </connector>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Check_Owner_Has_Role</name>
        <label>Check Owner Has Role</label>
        <locationX>1682</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Owner_Have_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1684</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner_Has_Role</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Profile</name>
        <label>Get Portal Profile</label>
        <locationX>1350</locationX>
        <locationY>1905</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Portal_User_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orde Customer Community Login User</stringValue>
            </value>
        </filters>
        <object>Profile</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1350</locationX>
        <locationY>1737</locationY>
        <connector>
            <targetReference>Get_Portal_Profile</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Provisioned_Screen</name>
        <label>Contact Already Provisioned</label>
        <locationX>1923</locationX>
        <locationY>907</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email_Already_Taken_Display_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This contact has already been provisioned as a portal user. They cannot be re-provisioned as a portal user.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please contact your system administrator if you believe this is in error or if they require functionality that they do not have.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Portal_User</name>
        <label>Create Portal User</label>
        <locationX>1349</locationX>
        <locationY>1442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Fields</targetReference>
        </connector>
        <fields>
            <name>Details_Header</name>
            <fieldText>&lt;p&gt;This will create a portal user with the following details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email (used to log in to the portal):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact.Email}&lt;/p&gt;&lt;p&gt;&lt;b&gt;First Name:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact.FirstName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Last Name:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you wish to change these details, please update them below and they will be saved to the contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Portal_Username</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address/Portal Username</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secret_Question</name>
            <choiceReferences>portalSecretQuestions</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Secret_Question__c</elementReference>
            </defaultValue>
            <fieldText>Secret Question</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secret_Question_Answer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Portal_Secret_Question_Answer__c</elementReference>
            </defaultValue>
            <fieldText>Secret Question Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1556</locationX>
        <locationY>2268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 43, 43);&quot;&gt;An unexpected error occurred when trying to provision portal access for this contact.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system administrator for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Role_For_Owner</name>
        <label>No Role For Owner</label>
        <locationX>2109</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Owner_No_role</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The userthat owns this account does not have a role specified.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system administrator for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success_Screen</label>
        <locationX>1350</locationX>
        <locationY>2263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_feedback</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(18, 147, 51);&quot;&gt;The user has been successfully provisioned for access to the My ORDE portal. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;A welcome email has been automatically sent to the contact&apos;s email address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Username_already_Taken</name>
        <label>Username already Taken</label>
        <locationX>1904</locationX>
        <locationY>1437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email_Already_Taken_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The email address for this contact is already in use with the ORDE Online portal.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please confirm whether this contact has already been made a portal user. If they have not, please contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>isContactAlreadyPortalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isUsernameTaken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
