force-app/main/default/flows/Portal_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Initial_Counter</name>
        <label>Assign Initial Counter</label>
        <locationX>1093</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>initialCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_for_Login_Flow_User.Security_Question_Failure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_with_Safe_Counter_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ForceLogout</name>
        <label>ForceLogout</label>
        <locationX>1401</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Onboarding_Completed</name>
        <label>Set Onboarding Completed</label>
        <locationX>1096</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_for_Login_Flow_User.Portal_Answer_Secret_Next_Login__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Onboarding_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_with_Safe_Counter_var</name>
        <label>Update Contact with Safe Counter var</label>
        <locationX>1093</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_for_Login_Flow_User.Security_Question_Failure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>safeInitialCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Secret_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>918</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_for_Login_Flow_User.Security_Question_Failure__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Counter</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MaximumAnswerAttempts</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Answer</name>
        <label>Check Answer</label>
        <locationX>1089</locationX>
        <locationY>1183</locationY>
        <defaultConnector>
            <targetReference>Set_Onboarding_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correctly Answered</defaultConnectorLabel>
        <rules>
            <name>Incorrectly_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secret_Question_Answer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact_for_Login_Flow_User.Portal_Secret_Question_Answer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Counter</targetReference>
            </connector>
            <label>Incorrectly Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Secret_Required</name>
        <label>Is Secret Question required on Login</label>
        <locationX>1086</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_for_Login_Flow_User.Portal_Answer_Secret_Next_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User_Locked_Out</targetReference>
            </connector>
            <label>Required on Login</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Locked_Out</name>
        <label>Is User Locked Out</label>
        <locationX>1090</locationX>
        <locationY>912</locationY>
        <defaultConnector>
            <targetReference>Security_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Locked Out</defaultConnectorLabel>
        <rules>
            <name>Locked_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_for_Login_Flow_User.Security_Question_Failure__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaximumAnswerAttempts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Locked_Out</targetReference>
            </connector>
            <label>Locked Out</label>
        </rules>
    </decisions>
    <formulas>
        <name>failedDuringFlow</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Contact_for_Login_Flow_User.Security_Question_Failure__c} &gt; {!initialCounter}</expression>
    </formulas>
    <formulas>
        <name>RemainingAttempts</name>
        <dataType>Number</dataType>
        <expression>{!MaximumAnswerAttempts} - {!Get_Contact_for_Login_Flow_User.Security_Question_Failure__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>safeInitialCounter</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Contact_for_Login_Flow_User.Security_Question_Failure__c}), 0,{!Get_Contact_for_Login_Flow_User.Security_Question_Failure__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Portal Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My ORDE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_for_Login_Flow_User</name>
        <label>Get Contact for Login Flow User</label>
        <locationX>1096</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Counter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_from_Login_Flow.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_Login_Flow</name>
        <label>Get User from Login Flow</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_for_Login_Flow_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Counter</name>
        <label>Update Contact Counter</label>
        <locationX>918</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>Is_User_Locked_Out</targetReference>
        </connector>
        <inputReference>Get_Contact_for_Login_Flow_User</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Onboarding_Field</name>
        <label>Update Contact Onboarding Field</label>
        <locationX>1096</locationX>
        <locationY>1550</locationY>
        <inputReference>Get_Contact_for_Login_Flow_User</inputReference>
    </recordUpdates>
    <screens>
        <name>Security_Question</name>
        <label>Security Question</label>
        <locationX>1097</locationX>
        <locationY>1055</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Answer</targetReference>
        </connector>
        <fields>
            <name>Secret_Question_Info</name>
            <fieldText>&lt;p&gt;When creating your account, an answer to a secret question was provided over the phone. &lt;/p&gt;&lt;p&gt;Please confirm your identity by answering the secret question below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Question:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact_for_Login_Flow_User.Secret_Question__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secret_Question_Answer</name>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Incorrect_Answer_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 45, 45);&quot;&gt;The answer you provided was incorrect. Attempts remaining: {!RemainingAttempts}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>failedDuringFlow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>debug_info</name>
            <fieldText>&lt;p&gt;Running User Id: {!$User.Id}&lt;/p&gt;&lt;p&gt;LoginFlow_UserId: {!LoginFlow_UserId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;User from Get records ID: {!Get_User_from_Login_Flow.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;$User contact Id: {!$User.ContactId}&lt;/p&gt;&lt;p&gt;Get records contact id: {!Get_Contact_for_Login_Flow_User.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoginFlow_UserId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>0058r000000ZS4fAAG</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Locked_Out</name>
        <label>User Locked Out</label>
        <locationX>1287</locationX>
        <locationY>910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ForceLogout</targetReference>
        </connector>
        <fields>
            <name>Maximum_Attempts_Reached</name>
            <fieldText>&lt;p&gt;You have reached the maximum number of attempts to verify using your security question.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please call ORDE Customer Service on 13 67 33 to reset your password.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_from_Login_Flow</startElementReference>
    <status>Active</status>
    <variables>
        <name>initialCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
