force-app/main/default/flows/Portal_Manage_Direct_Debit_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Mark_Inactive</name>
        <label>Mark Inactive</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>directDebitRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.directDebitType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Debit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.debitDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.transactionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Amount_Type_Split_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>splitFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Actual_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.debitDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Debit_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>debitDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Payment_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentModeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__CL_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.loanAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_0</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.directDebitType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Debit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.debitDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.transactionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Amount_Type_Split_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>splitFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Actual_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.debitDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Debit_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>debitDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Payment_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentModeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__CL_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>request.loanAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Amount_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>directDebitRecord.loan__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Invalid Operation</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>request.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>request.isDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>request.isDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_0</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>request.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>request.isDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>request.isDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Delete_Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>request.isDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>request.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Inactive</targetReference>
            </connector>
            <label>Delete (Deactivate)</label>
        </rules>
    </decisions>
    <formulas>
        <name>amountTypeFormula</name>
        <dataType>String</dataType>
        <expression>UPPER({!request.amountType})</expression>
    </formulas>
    <formulas>
        <name>debitDay</name>
        <dataType>Number</dataType>
        <expression>DAY({!request.debitDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>splitFactor</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!request.directDebitType} = &quot;Recurring&quot;, {!request.amountType} = &quot;Current Payment Amount&quot;),
IF ({!request.frequency} = &quot;Weekly&quot;, 4, IF({!request.frequency} = &quot;Bi-Weekly&quot;, 2, 1)),
1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Portal - Manage Direct Debit Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Manage Direct Debit Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New</name>
        <label>Create New</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputReference>directDebitRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Direct_Debit_Payment_Mode</name>
        <label>Direct Debit Payment Mode</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct Debit</stringValue>
            </value>
        </filters>
        <object>loan__Payment_Mode__c</object>
        <outputAssignments>
            <assignToReference>paymentModeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing</name>
        <label>Update Existing</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <inputReference>directDebitRecord</inputReference>
    </recordUpdates>
    <startElementReference>Direct_Debit_Payment_Mode</startElementReference>
    <status>Active</status>
    <variables>
        <name>directDebitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Automated_Payment_Setup__c</objectType>
    </variables>
    <variables>
        <name>paymentModeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>request</name>
        <apexClass>PortalManageDirectDebitRequestDto</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
