force-app/main/default/flows/Set_ERF_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Application_is_new_or_not</name>
        <label>Application is new or not</label>
        <locationX>451</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>isProductEdited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ERF_Field</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>isERFFlagChanged</name>
        <label>isERFFlagChanged</label>
        <locationX>780</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False_To_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERF_to_be_charged__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ERF_to_be_charged__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ERF_to_be_charged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record</targetReference>
            </connector>
            <label>False To True</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProductEdited</name>
        <label>isProductEdited</label>
        <locationX>655</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>isERFFlagChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Not Edited</defaultConnectorLabel>
        <rules>
            <name>Product_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProductChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record</targetReference>
            </connector>
            <label>Product Edited</label>
        </rules>
    </decisions>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isProductChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.genesis__CL_Product__r.clcommon__Product_Name__c})</expression>
    </formulas>
    <interviewLabel>Set ERF Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set ERF Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>312</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record</targetReference>
        </connector>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.genesis__CL_Product__r.clcommon__Product_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERF_Percentage_Of_Different_Products__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_ERF_Field</name>
        <label>Set ERF Field</label>
        <locationX>76</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
        <filters>
            <field>genesis__CL_Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Vacant Land - Residential</stringValue>
            </value>
        </filters>
        <filters>
            <field>genesis__CL_Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERF_to_be_charged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Record</name>
        <label>Set Record</label>
        <locationX>676</locationX>
        <locationY>531</locationY>
        <filters>
            <field>ERF_to_be_charged__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ERF_if_paid_within__c</field>
            <value>
                <elementReference>Get_Record.ERF_if_paid_within__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERF_percentage__c</field>
            <value>
                <elementReference>Get_Record.ERF_percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>333</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Application_is_new_or_not</targetReference>
        </connector>
        <object>genesis__Applications__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
