force-app/main/default/flows/TEST_Get_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1003</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>allContractsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Contracts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Contracts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEST - Get Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST - Get Contracts</label>
    <loops>
        <name>Loop_All_Contracts</name>
        <label>Loop All Contracts</label>
        <locationX>715</locationX>
        <locationY>68</locationY>
        <collectionReference>Get_CL_ContractsSubflow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CL_ContractsSubflow</name>
        <label>Get CL ContractsSubflow</label>
        <locationX>501</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Contracts</targetReference>
        </connector>
        <filters>
            <field>loan__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>loan__Loan_Account__c</object>
    </recordLookups>
    <startElementReference>Get_CL_ContractsSubflow</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allContractsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
