force-app/main/default/flows/TEST_Screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>769</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>namesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEST - Screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST - Screen flow</label>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>766</locationX>
        <locationY>267</locationY>
        <collectionReference>Get_CL_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CL_Contracts</name>
        <label>Get CL Contracts</label>
        <locationX>560</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
        <filters>
            <field>loan__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>loan__Loan_Account__c</object>
    </recordLookups>
    <screens>
        <name>Show_Contracts</name>
        <label>Show Contracts</label>
        <locationX>1229</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowContracts</name>
            <fieldText>&lt;p&gt;{!Get_Contracts_Flow.allContractsText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!namesText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Contracts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contracts_Flow</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Contracts_Flow</name>
        <label>Get Contracts Flow</label>
        <locationX>229</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Get_CL_Contracts</targetReference>
        </connector>
        <flowName>TEST_Get_Contracts</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>namesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
