force-app/main/default/flows/Update_APS_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_null_to_Transaction_Amount</name>
        <label>Assign null to Transaction Amount</label>
        <locationX>1531</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>$Record.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_null_to_Transaction_Amount_Change</name>
        <label>Assign null to Transaction Amount Change</label>
        <locationX>283</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Amount_Change_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</name>
        <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        <locationX>980</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.loan__CL_Contract__r.loan__Pmt_Amt_Cur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.loan__Amount_Type_Split_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.loan__CL_Contract__r.loan__Pmt_Amt_Cur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</name>
        <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        <locationX>1087</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmountBy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.loan__Amount_Type_Split_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmountBy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</name>
        <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        <locationX>1327</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>$Record.loan__Transaction_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmtBy4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.loan__Amount_Type_Split_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmtBy4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Transaction_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frequency_Change_is_Changed_to_Bi_Weekly</name>
        <label>Frequency Change is Changed to Bi-Weekly</label>
        <locationX>668</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmountBy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Amount_Change_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frequency_Change_is_Changed_to_Monthly</name>
        <label>Frequency Change is Changed to Monthly</label>
        <locationX>597</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.loan__CL_Contract__r.loan__Pmt_Amt_Cur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Amount_Change_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frequency_Change_is_Changed_to_Weekly</name>
        <label>Frequency Change is Changed to Weekly</label>
        <locationX>902</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transaction_Amount_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmtBy4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amount_Type_Split_Factor_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Amount_Change_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>APS_Outcome_Validation</name>
        <label>APS Outcome Validation</label>
        <locationX>887</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_ic_changed_to_weekly</name>
            <conditionLogic>1 AND 3 AND (2 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>APSisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_weekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_bi_weekly</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>APSisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_biweekly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to bi-weekly</label>
        </rules>
        <rules>
            <name>Current_Payment_amount_is_changed_or_Frequency_is_changed_to_Monthly</name>
            <conditionLogic>2 AND (3 OR 6) AND ( 1 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>APSisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Frequency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Payment_amount_is_changed_or_Frequency_is_changed_2_Monthly</targetReference>
            </connector>
            <label>Current Payment amount is changed or Frequency is changed to Monthly</label>
        </rules>
        <rules>
            <name>Frequency_Change_is_Changed_to_Weekly_When_Amount_Type_Change_is_Current</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frequency_Change_is_Changed_to_Weekly</targetReference>
            </connector>
            <label>Frequency Change is Changed to Weekly When Amount Type Change is Current</label>
        </rules>
        <rules>
            <name>Frequency_Change_is_Changed_to_Bi_Weekly_When_Amount_Type_Change_is_Current</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frequency_Change_is_Changed_to_Bi_Weekly</targetReference>
            </connector>
            <label>Frequency Change is Changed to Bi-Weekly When Amount Type Change is Current</label>
        </rules>
        <rules>
            <name>Frequency_Change_is_Changed_to_Monthly_When_Amount_Type_Change_is_Current</name>
            <conditionLogic>1 AND (2 OR 5) AND (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frequency_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing Frequency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frequency_Change_is_Changed_to_Monthly</targetReference>
            </connector>
            <label>Frequency Change is Changed to Monthly When Amount Type Change is Current</label>
        </rules>
        <rules>
            <name>Amount_type_changed_from_Current_Payment_Amount_to_Last_Billed_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAST BILLED AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.loan__Amount_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_null_to_Transaction_Amount</targetReference>
            </connector>
            <label>Amount type changed from Current Payment Amount to Last Billed Amount</label>
        </rules>
        <rules>
            <name>Amount_Type_Change_change_from_Current_Payment_Amount_to_Last_Billed_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Type_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAST BILLED AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Amount_Type_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_null_to_Transaction_Amount_Change</targetReference>
            </connector>
            <label>Amount Type Change change from Current Payment Amount to Last Billed Amount</label>
        </rules>
    </decisions>
    <formulas>
        <name>APSisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TransactionAmountBy2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__CL_Contract__r.loan__Pmt_Amt_Cur__c} / 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransactionAmtBy4</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.loan__CL_Contract__r.loan__Pmt_Amt_Cur__c} / 4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update APS Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update APS Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Transaction_Amount_Change_Update</name>
        <label>Transaction Amount Change Update</label>
        <locationX>777</locationX>
        <locationY>764</locationY>
        <inputAssignments>
            <field>Amount_Type_Split_Factor_Change__c</field>
            <value>
                <elementReference>$Record.Amount_Type_Split_Factor_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Amount_Change__c</field>
            <value>
                <elementReference>$Record.Transaction_Amount_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Transaction_Amount</name>
        <label>Updating Transaction Amount</label>
        <locationX>1252</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Amount_Type_Split_Factor_Change__c</field>
            <value>
                <elementReference>$Record.Amount_Type_Split_Factor_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Amount_Change__c</field>
            <value>
                <elementReference>$Record.Transaction_Amount_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Amount_Type_Split_Factor__c</field>
            <value>
                <elementReference>$Record.loan__Amount_Type_Split_Factor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Transaction_Amount__c</field>
            <value>
                <elementReference>$Record.loan__Transaction_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>APS_Outcome_Validation</targetReference>
        </connector>
        <object>loan__Automated_Payment_Setup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TransactionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
